{% extends "layout.html" %}

{% block title %}
{% endblock %}
{% block head %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='index.js') }}"></script>
<link rel="shortcut icon" href="">
{% endblock %}
{% block body %}
<script>
document.addEventListener('DOMContentLoaded', () => {

    // Connect to websocket
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
    // When connected, configure buttons
    socket.on('connect', () => {
        document.querySelector("#createname").onclick = () => {
          const newname = document.querySelector('#newname').value;
          if (checkempty(newname)) {
            socket.emit('check_name_exist', {'newname': newname});
            document.querySelector("#validation_error").innerHTML = "this chat name alredy exist!";
            document.querySelector("#validation_error").style.visibility = "hidden";

          }
          else {
            document.querySelector('#newname').style.borderColor = "red";
            document.querySelector("#validation_error").innerHTML = "name couldnt be emptey!";
            document.querySelector("#validation_error").style.visibility = "visible";
          }

        };
        document.querySelector('#newname').addEventListener('keypress', function (e) {
           if (e.key === 'Enter') {
              e.preventDefault();
              document.querySelector("#createname").click();
            }
         });
      });



        function checkempty(str){
          if (str == "") {
            return false;
          }
          return true;
        }

        // when a result from valid name came...
        socket.on('result_is_exist', data => {
          if (data.result == "True") {
            document.querySelector("#validation_error").style.visibility = "hidden";
            document.querySelector("#newname").style.borderColor = "green";
            document.querySelector("#createform").submit();
          }
          else {
            document.querySelector("#newname").style.borderColor = "red";
            document.querySelector("#validation_error").style.visibility = "visible";
          }
        });
    });


</script>
  Welcome to  M&YSocial experts.
  <form class="" id="createform" action="/creatChannel" method="post">

<input type="text" name="newname" id="newname" value="">
<input type="button" name="createname"  id="createname" value="Create">
<br>
<small id="validation_error" style="visibility:hidden;color:red;"></small>
  </form>

{% endblock %}
