<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/CssProject2.css') }}">

  </head>
  <body class="homeBody">

    {% block HomePage %}
     {% if session.get("username") is not none: %}
      <a href="/selectchannel">  <button type="submit" class="btn btn-warning btn-lg"style="font-family: Bangers;">Search</button></a>

        {{session["username"]}}
        <a href="/logout">logout</a>
     {% endif %}
    <form class="" action="/" method="post">
   {% if session.get("username") is none: %}
   <input type="text" name="username" value="" placeholder="Enter your Nickname">
   <input type="submit" id="tologin" class="btn btn-primary btn-lg" value="Log In"style="font-family: Bangers;">
   {% endif %}
 {% endblock %}
     </form>
  </body>
</html>
